.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 38px;
  min-width: 500px;
  min-height: 600px;
  background-color: rgb(70, 68, 68)
}

.zapisz-do-pdf{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.zapisz-do-pdf textarea{
  width: 300px;
  height: 200px;
}