.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
  min-height: 600px;
  background-color: rgb(70, 68, 68);
  position: relative;
  border-radius: 8px;
}

p{
  margin-top: 5px;
  margin-bottom: 6px;
}

label{
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin-left: 10px;
  font-size: 13px;
}

.warstwa-tla{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30px;
  background-color: white;

}
.zakladki {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; 
  position: absolute;
  width: 100%;
  height: 30px;

}

.zakladki button {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  width: 34%;
  padding: 8px;
  height: 30px;
  transition: background-color 0.3s ease;

}

.zakladki button:hover {
  background-color: #ddd;
}

.zakladki button.active {
  background-color: rgb(70, 68, 68);
  color: white;
  border:none
}

.content{
  margin-top: 25px;
}

.zapisz-do-pdf{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.typ-ksiegi-wieczystej{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.strony-dzialy-do-pobrania{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.textarea-input{
  display: flex;
  flex-direction: column;
}
.textarea-input textarea{
  width: 100%;
  height: 100px;
  resize: none;
  border: none;
  border-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}
.textarea-input button{
  width: 100%;
  height: 30px;
  resize: none;
  border: none;
  border-radius: 6px;
  background-color: green;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.uzyj-tor{
  margin-top: 8px;
}

.tor-hint{
  font-size: 10px;
  margin-top: 3px;
  margin-bottom: 0px;
}

.tor-hint-active{
  color: red
}

